#{include file="../Header.html"}
<style>
    .layui-popup .layui-layer-content {
        position: relative !important;
        overflow: auto !important;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    #{include file="../Toolbar.html"}

    <div class="post d-flex flex-column-fluid" id="kt_post">

        <div id="kt_content_container" class="container-fluid">

            <div class="card mb-5 mb-xl-8">

                <div class="card-header">
                    <div class="card-toolbar">
                        <button class="btn btn-sm btn-light-primary btn-app-create me-3"><i class="fa-duotone fa-regular fa-circle-plus"></i>
                            新增等级
                        </button>
                    </div>
                </div>

                <div class="card-body py-3">
                    <table id="business-level-table"></table>
                </div>
            </div>

        </div>

    </div>

</div>

#{ready("/assets/admin/controller/user/business.level.js")}
#{include file="../Footer.html"}