#{include file="../Header.html"}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    
    #{include file="../Toolbar.html"}

    <div class="post d-flex flex-column-fluid" id="kt_post">
        
        <div id="kt_content_container" class="container-fluid">
            
            <div class="card mb-5 mb-xl-8">
                
                <div class="card-header border-0">
                    <div class="card-toolbar">
                        <a href="/admin/store/home" class="btn btn-sm btn-light-primary btn-app-create me-3"><i
                                    class="fa-duotone fa-regular fa-rectangle-history-circle-plus"></i>
                            安装更多插件
                        </a>
                    </div>
                </div>
                
                <div class="card-body py-3">
                    <table id="pay-plugin-table"></table>
                </div>
            </div>

        </div>
        
    </div>
    
</div>

#{ready("/assets/admin/controller/pay/plugin.js")}
#{include file="../Footer.html"}