
<div class="toolbar" id="kt_toolbar">
    
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
             class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">#{$title}</h1>

            <span class="h-20px border-gray-200 border-start mx-4"></span>

            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                #{if is_array($toolbar)}
                #{foreach $toolbar as $bar}
                
                <li class="breadcrumb-item">
                    <a href="#{$bar.url}" class="#{if getLocalRouter()==$bar.url} text-dark fw-bolder #{else} text-muted #{/if} text-hover-primary">#{$bar.name}</a>
                </li>
                
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                </li>
                #{/foreach}
                #{else}
                
                <li class="breadcrumb-item text-muted">
                    <a href="javascript:void(0)" class="text-muted text-hover-primary">(✪ω✪)</a>
                </li>
                
                #{/if}

            </ul>
            
        </div>
        
    </div>
    
</div>
